<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.zeronelab.mybatis.mapper.nBoardMapper">

	<!-- 검색 조건에 따른 게시물 목록 조회 쿼리 -->
	<select id="listSearch"
		resultType="dev.zeronelab.mybatis.vo.nBoardVO">
		SELECT * FROM (
		SELECT
			bNo, title, content, writer, regidate, viewCnt, replyCnt,
			ROW_NUMBER() OVER (ORDER BY bNo DESC, regidate DESC) AS rnum
		FROM nBoard
			WHERE bNo > 0
			
		<if test="searchType == 't'.toString()">
			AND (title LIKE '%' || #{keyword} || '%')
		</if>
		<if test="searchType == 'c'.toString()">
			AND (content LIKE '%' || #{keyword} || '%')
		</if>
		<if test="searchType == 'w'.toString()">
			AND (writer LIKE '%' || #{keyword} || '%')
		</if>
		<if test="searchType == 'tc'.toString()">
			AND (title LIKE '%' || #{keyword} || '%' OR content LIKE
			'%' ||
			#{keyword} || '%')
		</if>
		<if test="searchType == 'cw'.toString()">
			AND (content LIKE '%' || #{keyword} || '%' OR writer LIKE
			'%' ||
			#{keyword} || '%')
		</if>
		<if test="searchType == 'tcw'.toString()">
			AND (title LIKE '%' || #{keyword} || '%' OR content LIKE
			'%' ||
			#{keyword} || '%' OR writer LIKE '%' || #{keyword} || '%')
		</if>
		)
		WHERE
			rnum BETWEEN #{pageStart} + 1 AND (#{pageStart} + #{perPageNum})
		ORDER BY
			rnum
	</select>


	<!-- 검색 조건에 따른 게시물의 총 개수를 가져오는 쿼리 -->
	<select id="listSearchCount" resultType="int">
		SELECT COUNT(*) FROM nBoard
		<include refid="search" />
	</select>
	

	<!-- 검색 조건 SQL -->
	<sql id="search">
		<if test="searchType != null">
			<where>
				<if test="searchType == 't'.toString()">
					AND title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="searchType == 'c'.toString()">
					AND content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="searchType == 'w'.toString()">
					AND writer LIKE '%' || #{keyword} || '%'
				</if>
				<if test="searchType == 'tc'.toString()">
					AND (title LIKE '%' || #{keyword} || '%' OR content LIKE
					'%' || #{keyword} || '%')
				</if>
				<if test="searchType == 'cw'.toString()">
					AND (content LIKE '%' || #{keyword} || '%' OR writer
					LIKE '%' || #{keyword} || '%')
				</if>
				<if test="searchType == 'tcw'.toString()">
					AND (title LIKE '%' || #{keyword} || '%' OR content LIKE
					'%' || #{keyword} || '%' OR writer LIKE '%' || #{keyword} || '%')
				</if>
			</where>
		</if>
	</sql>
	
	
	<!-- 게시물 전체 목록 조회 쿼리 -->
	<select id="selectBoardList"
		resultType="dev.zeronelab.mybatis.vo.nBoardVO" parameterType="map">
	<![CDATA[
    	SELECT * FROM (
        	SELECT
            	bNo, title, content, writer, regidate, viewCnt, replyCnt,
            	ROW_NUMBER() OVER (ORDER BY bNo DESC, regidate DESC) AS rnum
        	FROM
            	nBoard
    		)numbered
    	WHERE
        	numbered.rnum BETWEEN  #{pageStart} +1 AND (#{pageStart} + #{perPageNum})
    	ORDER BY 
    		numbered.rnum
    ]]>
	</select>


	<!-- 검색 조건에 따른 게시물 수 조회 쿼리 -->
	<select id="selectBoardListCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM nBoard
		WHERE bNo > 0
	]]>
	</select>


	<!-- 조회수 -->
	<update id="updateCounts">
	<![CDATA[
   		update nBoard
  		set viewcnt = viewcnt + 1
   		where bNo = #{bNo}
    ]]>
	</update>


	<!-- 글 조회 -->
	<select id="read"
		resultType="dev.zeronelab.mybatis.dto.nBoardDTO">
		SELECT *
		FROM nBoard
		WHERE bNo = #{bNo}
	</select>
	
	<!--글에 첨부된 이미지 조회 -->
	<select id="getImageDTOList"
		resultType="dev.zeronelab.mybatis.dto.nBoardImageDTO">
	<![CDATA[
		select imgName,uuid,path 
		from nAttach where bNo = #{bNo} order by regdate
	]]>
	</select>


	<!-- 글 작성 -->
	<insert id="write">
	<![CDATA[
		insert into nBoard (writer, title, content, viewCnt, replyCnt)
		values(#{writer}, #{title}, #{content}, #{viewCnt}, #{replyCnt})
	]]>
	</insert>


	<!-- 첨부파일 -->
	<insert id="addAttach">
	<![CDATA[
		INSERT INTO nAttach (imgName, uuid, path,  bNo)
		VALUES (#{imgName}, #{uuid}, #{path}, bNo_seq.CURRVAL)
	]]>
	</insert>


	<!-- 글 수정 -->
	<update id="update" parameterType="map">
	<![CDATA[
		update nBoard
		set title = #{title}, content = #{content}
		where bNo = #{bNo}
	]]>
	</update>
	

	<!--첨부파일 수정 -->
	<insert id="replaceAttach">
	<![CDATA[
		INSERT INTO nAttach (imgName, uuid, path,  bNo)
		VALUES (#{imgName}, #{uuid}, #{path}, #{bNo})
	]]>
	</insert>


	<!--첨부파일 삭제 -->
	<delete id="deleteAttach">
	<![CDATA[
		delete from nAttach where bNo = #{bNo}
	]]>
	</delete>
	
	
	<!-- 글 삭제 -->
	<delete id="delete">
		delete
		from nBoard
		where bNo = #{bNo}
	</delete>

	<!-- 댓글 열람 시 조회수 증가 -->
	<update id="updateReplyCnt">
	 <![CDATA[
 		 UPDATE nboard
 		 SET replycnt = replycnt + #{amount}
  		 WHERE bNo = #{bNo}
    ]]>
    </update>
    
</mapper>
